.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar,
html.scrollbar-hide::-webkit-scrollbar,
body.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

html.scrollbar-hide,
body.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}